* {
  font-family: 'Sora', sans-serif;
}

body {
  background: linear-gradient(
    rgb(0, 0, 0) 25%,
    rgb(36, 9, 134) 100%,
    rgb(42, 17, 99) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}

/*=================================================================*/
/*                      HEADER                              
/*=================================================================*/

header {
  display: grid;
  background: black;
  width: 100%;
  color: white;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  grid-template-columns: 1fr 1fr 1fr;
}

.midnightLogo {
  width: 10vw;
  height: inherit;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1rem 0;
}

header div {
  margin: auto;
}

header a {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 0 1rem;
}

.fa-facebook {
  margin-right: 4vw;
}

header a:hover {
  transition: 400ms;
  text-decoration: underline;
  color: #979aff;
}

/*=================================================================*/
/*                      NAV                              
/*=================================================================*/

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}

li {
  text-align: center;
  width: 14rem;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: auto;
}

nav a:hover {
  transition: 400ms;
  text-decoration: underline;
  color: #979aff;
}

.active {
  color: #979aff;
  text-decoration: underline;
}

/*=================================================================*/
/*                     HOMEPAGE                             
/*=================================================================*/

.carouselbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel {
  position: relative;
  margin: 2rem auto;
  width: 70vw;
}

.carouselImg {
  width: 100%;
  height: auto;
}

.aboutinfo {
  box-shadow: 0px 0px 1px 2px black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  height: 100%;
  width: 70vw;
  margin-bottom: 4rem;
}

.aboutinfo img {
  border-radius: 8px 8px 0 0;
}

/*=================================================================*/
/*                      PRODUCTS: BRANDS                             
/*=================================================================*/

.brandContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.brandContainer p {
  font-size: 3rem;
  margin: 3rem 0 0 0;
}

.iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 30rem;
}

.mitlogo {
  width: 250px;
  height: 300px;
}

.mitlogo:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
.subarulogo {
  width: 500px;
  height: 300px;
}
.subarulogo:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
.bmwlogo {
  width: 250px;
  height: 250px;
}
.bmwlogo:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

/*=================================================================*/
/*                      PRODUCTS: MODELS                             
/*=================================================================*/

.carmodelname {
  color: white;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  font-size: 5rem;
}

.mitsuimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
}

.mitsuimgs a {
  color: white;
  text-decoration: none;
}

.mitsuimgs a:hover {
  transition: 700ms;
  color: #979aff;
}

.evoimg:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

.subieimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
}

.brzimg {
  width: 602px;
  height: 293px;
}
.brzimg:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.stiimg {
  margin: 10px;
  width: 602px;
  height: 293px;
}
.stiimg:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.bmwimgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
}

.m2img {
  margin-top: 20px;
  width: 580px;
  height: 310px;
}
.m2img:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
.m4img {
  margin: 10px;
  width: 550px;
  height: 300px;
}
.m4img:hover {
  transition: 300ms;
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

/*=================================================================*/
/*                      FOOTER                             
/*=================================================================*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10rem;
  width: 100%;
  color: white;
  border-top: 1px solid hsla(0,0%,100%,.1);
}

footer a {
  margin: auto;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

footer div {
  margin: auto;
}

footer div a {
  margin: 0 1rem;
}

footer a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
  color: #979aff;
}

/*=================================================================*/
/*                      CONTACT & LOG IN                              
/*=================================================================*/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  max-width: 25%;
}

input {
  background: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
}

input:hover {
  box-shadow: 0px 0px 3px 3px white;
}
input:focus {
  box-shadow: 0px 0px 7px 7px white, 0px 0px 7px 7px white;
}

select {
  background: none;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}
option {
  background: rgb(15, 3, 71);
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}

textarea {
  background: none;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}

.formcontainer {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  color: white;
}

.submitBtn {
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(rgb(237, 13, 237), rgb(3, 3, 66));
}

.submitBtn:hover {
  transition: 400ms;
  box-shadow: 0px 0px 3px 3px white;
}
.submitBtn:focus {
  box-shadow: 0px 0px 7px 7px white;
}
.enrollcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.loginContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
}

.loginContainer h2 {
  margin-bottom: 1.5rem;
}

.loginContainer input {
  margin: 0.5rem 0;
  color: white;
}

/*=================================================================*/
/*                      PRODUCTS                              
/*=================================================================*/

.categoryNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid white;
  border-radius: 8px;
  margin-left: 2rem;
}

.partscontainer {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 2rem 2rem 2rem;
  padding: 0.5rem;
  justify-content: space-between;
}

.partCard {
  width: 18rem;
  margin: 0.5rem;
}

#dropdown-basic-button {
  width: 190px;
  margin: 2px;
}
#dropdown-basic-button:hover {
  box-shadow: 0px 0px 7px 7px rgb(9, 218, 255);
}
#dropdown-basic-button:focus {
  background: rgb(28, 70, 206);
}

.productsHero {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30rem;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 2rem;
}

/* Cart Styles */

.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}

/*=================================================================*/
/*                      RESPONSIVENESS                              
/*=================================================================*/

/*Header breaking points*/
/*1328, */

@media screen and (max-width: 1058px) {
  .brandimg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .brandimg > * {
    margin: 4% 0;
  }
}

@media screen and (max-width: 922px) {
  .carousel {
    position: relative;
    margin: 0 auto;
    width: 89.3vw;
  }
  .aboutinfo {
    width: 89.3vw;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 622px) {
  
  .subarulogo {
    width: 90.6vw;
    height: 54.4vw;
  }
  .mitlogo {
    width: 40.2vw;
    height: 48.24vw;
  }
  .bmwlogo {
    width: 40.2vw;
    height: 40.2vw;
  }
  .brzimg {
    margin-top: 110px;
    width: 81vw;
    height: 39.9vw;
  }
  .stiimg {
    margin: 10px;
    width: 81.87vw;
    height: 37vw;
  }
  .carmodelname {
    font-size: 12vw;
  }
  .evo9img {
    width: 96.8vw;
    height: 47.1vw;
  }
  .evoximg {
    width: 100.2vw;
    height: 50.3vw;
  }
  .m2img {
    width: 93.3vw;
    height: 49.9vw;
  }
  .m4img {
    width: 88.5vw;
    height: 48.3vw;
  }
}

@media screen and (max-width: 580px) {
  .formcontainer {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    width: 84vw;
}
.formcontainer > * {
  width: 100%;
}
}

@media screen and (max-width: 500px) {
  .unorderedList {
    font-size: 19px;
  }
  .productscontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 2%;
  }
  .partscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    height: 100%;
    border-radius: 8px;
    margin: 2%;
    width: min-content;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 60vw;
    margin: 10px;
  }
  
}
